button.main_menu {
	font: 27px Sans;
	background-color: rgb(33, 38, 44);
	color: #FAB7B2;
	transition: none;
	border: none;
}

button.main_menu:focus {
	background-color: #F44336;
	color: #FEF0EF;
}

grid.sudoku {
	background-color: rgb(33, 38, 44);
}

/* Solution switch color when checked */
switch.solution_grid:checked {
	/* color: #F44336; */
	background-color: #F44336;
}

/* Solution switch */
switch.solution_grid:hover {
	color: #FAB7B2;
}

/* Solution switch circular slider */
switch.solution_grid slider:hover {
	/* color: transparent; */
	border-color: #FAB7B2;
	/* background-color: transparent; */
}

.window {

}